@font-face {
  font-family: 'Delius';
  src: url('/fonts/Delius-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* === VAG Rounded Next font faces === */

@font-face {
  font-family: 'VAGRoundedNext';
  src: url('/fonts/vag/VAG-Rounded-Next-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'VAGRoundedNext';
  src: url('/fonts/vag/VAG-Rounded-Next-Light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'VAGRoundedNext';
  src: url('/fonts/vag/VAG-Rounded-Next-Bold-It.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'VAGRoundedNext';
  src: url('/fonts/vag/VAG-Rounded-Next-Black.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'VAGRoundedNext';
  src: url('/fonts/vag/VAG-Rounded-Next-Black-It.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'VAGRoundedNext';
  src: url('/fonts/vag/VAG-Rounded-Next-ExtraBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'VAGRoundedNext';
  src: url('/fonts/vag/VAG-Rounded-Next-ExtraBlack-It.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.ft-text {
  font-family: 'Delius', sans-serif;
}

.ft-head-1 {
  font-family: 'VAGRoundedNext', sans-serif;
  font-weight: 700;
}

.ft-head-2 {
  font-family: 'VAGRoundedNext', sans-serif;
  font-weight: 800;
}

.ft-head-3 {
  font-family: 'VAGRoundedNext', sans-serif;
  font-weight: 900;
}

.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

.text-5xl {
  font-size: 3rem; /* 48px */
  line-height: 1; /* 48px (same as font-size) */
}

.text-6xl {
  font-size: 3.75rem; /* 60px */
  line-height: 1; /* 60px */
}

.text-7xl {
  font-size: 4.5rem; /* 72px */
  line-height: 1; /* 72px */
}

.text-8xl {
  font-size: 6rem; /* 96px */
  line-height: 1; /* 96px */
}

.text-9xl {
  font-size: 8rem; /* 128px */
  line-height: 1; /* 128px */
}
