@import './fonts.css';
@import './base.css';

#app {
  height: 100%;
  width: 100%;
  /* overflow: scroll; */
}

::selection {
  background: var(--accent-200);
}

.Vue-Toastification__toast {
  border-radius: var(--size-md);
  min-height: 45px !important;
  padding: var(--size-xs) !important;
}
.box-shadow {
  box-shadow: 0 8px 32px var(--color-border);
}

.vch__legend {
  display: none !important;
}

.vch__month__label,
.vch__day__label {
  font-family: 'VAGRoundedNext';
}

.hover:hover {
  background-color: var(--color-hover);
  border-color: var(--color-border);
}

.darken {
  font-weight: bold;
}

.chip {
  background-color: var(--color-border);
  padding: 1px 3px;
  border-radius: 5px;
  font-size: var(--font-xs);
}

.pointer {
  cursor: pointer;
}
