@import './fonts.css';
@import './base.css';

#app {
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  margin-top: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-500);
  background-clip: content-box;
  border: 5px solid transparent;
  border-radius: var(--size-sm);
}

::selection {
  background: var(--accent-200);
}

.Vue-Toastification__toast {
  border-radius: var(--size-md);
  min-height: 45px !important;
  padding: var(--size-xs) !important;
}

.box-shadow {
  box-shadow: 0 8px 32px var(--color-border);
}

.hover:hover {
  background-color: var(--color-hover);
  border-color: var(--color-border);
}
